@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Rubik';
}
body {
    background-color: #C4C4C4;
}
.nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 98px;
    width: 100%;
    background-color: #3F3A3A;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #c4c4c4;
    font-size: 36px;
    line-height: 43px;
}
.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 575px;
    margin-left: 117px;
}
.nav-link {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 36px;
    line-height: 43px;
    margin-right: 10px;
}
.language-switcher {
    margin-right: 37px;
}
.language-switcher:hover {
    cursor: pointer;
}
.burger {
    display: flex;
    align-items: center;
    position: fixed;
    width: 67px;
    height: 37px;
    top: 28px;
    left: 34px;
    transition: 1s;
    z-index: 1;
}
.burger-line {
    content: '';
    display: block;
    height: 7px;
    width: 67px;
    background-color: #C4C4C4;
    transition: 1s;
    transform: var(--middle-line);
}
.burger-line::before {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    background-color: #C4C4C4;
    position: relative;
    top: -15px;
    transition: 1s;
    transform: var(--top-line);
}
.burger-line::after {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    position: relative;
    top: 8px;
    background-color: #C4C4C4;
    transition: 1s;
    transform: var(--bottom-line);
}
.burger:hover{
    cursor: pointer;
    /* transform: rotate(90deg); */
}

.menu {
    display: none;
    position: fixed;
    top: 98px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 272px;
    height: 392px;
    background-color: #605C5C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}
.menu-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: #C4C4C4;
    font-size: 24px;
    line-height: 28px;
    margin: 44px 27px 44px 35px;
}
.menu-item {
    width: 100%;
}
.menu-item:hover {
    cursor: pointer;
}
.blackout {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s;
    opacity: 0;
}
.logo {
    margin-left: 301px;
}
.wrapper {
    width: 1142px;
    background: rgba(63, 58, 58, 0.61);
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    height: 100vh;
}