body {
    background-color: #C4C4C4;
}
.nav {
    position: absolute;
    display: block;
    height: 98px;
    width: 100%;
    background-color: #3F3A3A;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.burger {
    display: flex;
    align-items: center;
    position: fixed;
    width: 67px;
    height: 37px;
    top: 28px;
    left: 34px;
}
.burger span {
    content: '';
    display: block;
    height: 7px;
    width: 67px;
    background-color: #FDED0E;    
}
.burger span::before {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    background-color: #FDED0E;
    position: relative;
    top: -15px;
}
.burger span::after {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    position: relative;
    top: 8px;
    background-color: #FDED0E;
}
.burger:hover{
    cursor: pointer;
}
.menu {
    display: none;
    position: fixed;
    top: 98px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 272px;
    height: 392px;
    background-color: #605C5C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
