nav {
    display: block;
    height: 98px;
    width: 100%;
    background-color: #C4C4C4;
    position: fixed;
    top: 0;
}
.burger {
    display: flex;
    align-items: center;
    position: fixed;
    width: 67px;
    height: 37px;
    top: 28px;
    left: 34px;
}
.burger span {
    content: '';
    display: block;
    height: 7px;
    width: 67px;
    background-color: #FDED0E;    
}
.burger span::before {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    background-color: #FDED0E;
    position: relative;
    top: -15px;
}
.burger span::after {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    position: relative;
    top: 8px;
    background-color: #FDED0E;
}
.burger:hover{
    cursor: pointer;
}