@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Rubik';
}
body {
    background-color: #C4C4C4;
}
.nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 98px;
    width: 100%;
    background-color: #3F3A3A;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #c4c4c4;
    font-size: 36px;
    line-height: 43px;
    z-index: 2;
}
.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 575px;
    /* margin-left: 117px; */
    margin-right: 70px;
}
.nav-link {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 36px;
    line-height: 43px;
    margin-right: 10px;
}
.language-switcher {
    margin-right: 37px;
}
.language-switcher:hover {
    cursor: pointer;
}
.burger {
    display: flex;
    align-items: center;
    position: fixed;
    width: 67px;
    height: 37px;
    top: 28px;
    left: 34px;
    transition: 1s;
    z-index: 3;
    --burger-line-color: #C4C4C4
}
.burger-line {
    content: '';
    display: block;
    height: 7px;
    width: 67px;
    background-color: var(--burger-line-color);
    transition: 1s;
    transform: var(--middle-line);
    border-radius: 3.5px;
}
.burger-line::before {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    background-color: var(--burger-line-color);
    position: relative;
    top: -15px;
    transition: 1s;
    transform: var(--top-line);
    border-radius: 3.5px;
}
.burger-line::after {
    content: '';
    display: block;
    height: 7px; 
    width: 67px;
    position: relative;
    top: 8px;
    background-color: var(--burger-line-color);
    transition: 1s;
    transform: var(--bottom-line);
    border-radius: 3.5px;
}
.burger:hover{
    cursor: pointer;
    /* transform: rotate(90deg); */
}

.menu {
    display: none;
    position: fixed;
    top: 98px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 272px;
    height: 392px;
    background-color: #605C5C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 1s;
    z-index: 3;
}
.menu-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: #C4C4C4;
    font-size: 24px;
    line-height: 28px;
    margin: 44px 27px 44px 35px;
}
.menu-item {
    width: 100%;
}
.menu-item:hover {
    cursor: pointer;
}
.blackout {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s;
    opacity: 0;
    z-index: 2;
}
.logo {
    margin-left: 200px;
}
.wrapper {
    display: flex;
    align-items: center;
    width: 1142px;
    background: rgba(63, 58, 58, 0.61);
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    min-height: 100vh;
    /* padding-top: calc(100vh-188); */
}
.footer {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 98px;
    width: 100%;
    background-color: #3F3A3A;
    padding-top: 33px;
    padding-bottom: 45px;
}
.icons {
    text-align: center;
    vertical-align: middle;
}
.icons-item {
    margin-right: 28px;
}
.copyright {
    text-align: right;
    margin-right: 60px;
    font-size: 14px;
    line-height: 17px;
    color: #E5E5E5;
}
.swiper-container {
    width: 1089px;
    height: 377px;
    z-index: 1;
}
.swiper-slide {
    background-color: #151414;
    z-index: 1;

}
.swiper-link {
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.feedback {
    display: none;
    position: fixed;
    width: 1142px;
    height: 984px;
    top: calc(50vh - 492px);
    left: calc(50% - 571px);
    z-index: 5;
    background-color: rgba(105, 101, 101, 0.85);
}